    /* outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px; */

@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "rubik", "arial", sans-serif;
    font-size: 18px;
    line-height: 30px;  
    padding: 0;
    margin: 0; 
}

.header {
    background-color: #ffe17f;
    display: flex;
    width: 1160px;
    height: 300px;
    margin: 0 auto;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Навигация*/
.header-logo {
    margin-left: 60px;
}

.navigation {
    display: flex;
    width: 1041px;
    margin-left: 60px;
    flex-direction: column;
}

/*Пользовательская навигация*/
.navigation-user {
    line-height: 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    align-content: center;
}

.search-catalog {
    margin-right: 20px;
}

.navigation-user-item input {
    border: 0;
    background-color: inherit;
    
}

.navigation-user-item:nth-child(1) {
    display: flex;
    width: 480px;
}

.navigation-user-item:nth-child(2)::before {
    width: 245px;
}

.navigation-user-item:nth-child(3) {
    width: 120px;
}

.navigation-user-item:nth-child(4) {
    width: 141px;
}

.navigation-user .navigation-link {
    font-size: 16px;
    line-height: 19px;
    color: black;
    text-decoration: none;  
    
}

/*Навигация по сайту*/
.navigation-site {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 1075px;
    list-style-type: none;
}

.navigation-site-item:nth-child(1) {
    width: 516px;
}

.navigation-site-item:nth-child(2) {
    width: 140px;
    margin-right: 19px;
}

.navigation-site-item:nth-child(3) {
    width: 140px;
    margin-right: 62px;
}
.navigation-site-item:nth-child(4) {
    width: 140px;
    margin-left: auto;
}

.navigation-site .navigation-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    width: 516px;

}

/*Дополнительное меню*/
.submenu-item {
    line-height: 18px;
    color: black;
    list-style-type: none;
}



/*Слайдер*/
.slider {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

.slider-product {
    display: flex; 
}

.slider-pagination-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-pagination-list {
    display: flex;
    list-style-type: none;
    width: 80px;
    justify-content: space-between;
    padding: 0;
} 

.slider-button {
    height: 80px;
}

.slider-product-2, .slider-product-3 {
    display: none;
}

.slider-text {
    width: 560px;
} 

.slider-number {
    font-size: 180px;
    font-weight: 800;
    padding-left: 261px;
}

.slider-tittle {
    font-family: "raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}

.slider-content {
    display: flex;
}

.slider-sign {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 160px;
}

.slider-value {
    font-size: 36px;
}

/*Кнопка*/
.button {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFE17F;
    letter-spacing: 20%;
}

/*Разделы товаров*/

.product-category {
    width: 1160px;
    margin: 0 auto;
}

.product-category-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.product-category-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;
}

.product-category-img {
    margin-left: auto;
    margin-right: auto;
}

.category-container {
    display: flex;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
}

.product-category-link {
    display: flex;
    width: 160px;
    height: 60px;
    margin-top: 33px;
    font-family: "raleway", sans-serif;
    font-weight: 800;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
}

.product-category-item li:nth-child(2) .product-category-img{
    margin-top: auto;
}

/*Табы*/
.services {
    background-color: #F0F0F0;
}

.services-box {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 90px;
    display: flex; 
}

.services-item {
    width: 280px; 
    border-right: 7px solid black;
    padding: 0;
    align-items: center;
    list-style-type: none;
}

.services-item-button {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;  
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}


.tabs_body {
    display: flex;
    margin-left: 116px;
}

.tabs_tittle {
    font-family: "raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    margin: 0;
}

.tabs_block {
    width: 497px;
    margin-right: 61px;
}

#tab_2, #tab_3 {
    display: none;
}

/*Строчка дополнительный сервис*/

.extra-service {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #F0F0F0;
    width: 1160px;
    height: 100px;
    align-items: center;
}

.extra-service-link {
    font-family: "raleway", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 23px;  
    text-decoration: none;
    color: black;
    
}

.extra-service span {
    width: 125px;
    height: 100%;
    background-color: #FFE17F;
    display: flex;
}

.extra-service-img img{
    margin: auto;
}

.extra-service-button {
    padding-right: 30px;
}

/*Секция о компании*/


.about-container {
    display: flex;
    margin: 0 auto;
    width: 1160px;
    justify-content: space-between;
}
.about {
    width: 497px;
}

.contacts {
    width: 560px;
}

.about-title {
    font-family: "raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    border-top: black solid 7px;
}

.delivery-item {
    font-weight: 700;
}

.contacts-subtitle {
    font-size: 24px;
    font-weight: 700;
}

.contacts-schedule {
    list-style-type: none;
    padding: 0;
}

.contacts a {
    color: black;
}

.contacts address {
    font-style: normal;
}

/*Секция подписка*/

.newsletter {
    background-color: #F0F0F0;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
    padding-bottom: 134px;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;
}

.newsletter-tittle {
    font-family: "raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    width: 600px;
}

.newsletter-text {
    width: 560px;
    padding-left: auto;
}


.newsletter-form-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.field {
    border: 0;
    border-bottom: 3px solid rgb(0, 0, 0, 0.1);
    width: 600px;
    height: 55px;
    background-color: inherit;
    box-sizing: border-box;
}

.newsletter-button {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    text-transform: uppercase;
    border: 3px solid rgb(0, 0, 0, 0.1);
    width: 260px;
    height: 55px;
    box-sizing: border-box;
}

/*Подвал*/
.footer {
    background-color: #444444;  
    display: flex;  
}

.footer-container{
    margin: 0 auto;
    width: 1160px;
}

.footer-logo {
    width: 145px;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
}

.footer-contact address {
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    color: white;
    width: 239px;
}

.footer-list {
    list-style-type: none;
    width: 458px;
    display: flex;
}

.footer-item {
    width: 148px;  
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.footer-info-link {
    display: flex;
    justify-content: space-between;
}

.footer-border {
    width: 80px;
	height: 7px;
	background: #FFC700;
}

.footer-social {
    width: 150px;
    padding: 0;
}

.social-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.social-icon {
    justify-content: space-between;

}
/*Каталог*/

.main-inner-title {
    font-family: "raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}   

/*Хлебные крошки*/

.breadcrumbs {
    width: 1160px;
    margin: 0 auto; 
}

.breadcrumbs-container {
    width: 1100px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.breadcrumbs-list {
    width: 425px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: inherit;
}

/*Шапка каталога внутри страницы*/

.catalog-container {
    background: linear-gradient(90deg, #e5e5e5,#ffffff); 
    display: flex;
    flex-direction: column;
}

.product-header {
    background-color: #EBEBEB;
}

.product-header-container {
    width: 1160px;
    margin: 0 auto;
}

.product-header-box {
    width: 1100px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 25px;
    padding-bottom: 25px;
}

.filter-tittle {
    font-family: "raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.sorting-tittle {
    font-family: "raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
    width: 390px;
    display: flex;
    justify-content: space-between;
    margin-left: 72px;
    letter-spacing: 0.2em;
}

.sorting-select {
    background-color: inherit;
    border: 0px;
    font-size: 16px;
    line-height: 19px;
}

.catalog-products {
    width: 1160px;
    display: flex;
    margin: 0 auto;
}

.catalog-filter-container {
    width: 269px;
    margin-left: 60px;
}

.catalog-filter-tittle {
    font-weight: 700;
    line-height: 20px;
    border-top: 2px solid #000000;
    width: 200px;
    padding-top: 12px;
}

.catalog-filter-group  {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 0 none; 
    padding-left: 0;
    margin-top: 71px;
}

.catalog-filter-item {
    font-size: 16px;
    line-height: 19px;
    margin-top: 21px;
}

.cost {
    padding-bottom: 25px;
}

.product-box {
    background-color: white;
    padding-bottom: 77px;
}

.product-container {
    width: 832px;
}

/*Карточки продуктов*/
.ascending-container {
    padding-left: 330px;
}

.ascending-container a {
    text-decoration: none;
}
.product-list {
    list-style-type: none;
    margin-top: 69px;
    padding-left: 72px;
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 44px 40px;  
}

.product-card-link {
    display: flex;
    justify-content: space-between;
  
}

.product-card-title {
    font-weight: 700;
    line-height: 24px;
    color: black;
    text-decoration: none;
    padding: 0;
    width: 280px;
    
}

.product-card-price {
    line-height: 21px;
    color: black;
    text-decoration: none;
}

/*Пагинация*/
.pagination-show-more {
    font-family: "raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    width: 760px;
    height: 55px;
    outline: 5px solid rgba(240, 228, 226, 0.5);
    outline-offset: -5px;
    margin-left: 72px;
    border: 3px solid rgba(0, 0, 0, 0.1);
}

.pagination {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin-top: 51px;
    width: 760px;
    margin-left: 72px;  
    align-items: baseline;
    background-color: #EBEBEB;
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    width: 145px;
    list-style-type: none;
}

.pagination-nav {
    font-family: "raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
}

.pagination-disabled {
    margin-left: 29px;
}

.pagination-included {
    margin-right: 29px;
}

.pagination-link {
    font-size: 16px;
    line-height: 19px;
    color: black;
    text-decoration: none;
}

.pagination-nav {
    font-family: "raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    color: black;
    text-decoration: none;
}

/*Модальное окно*/


.extra-service-link {
    font-family: "raleway", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 23px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

